.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

div#data {
    background-color: #DDDDDD;
}

div#pl {
    background-color: #FFDC00;
}

div#position {
    background-color: #FF851B;
}